div(class="main" id="about")
    h1.main__title Maksym Kozubenko
    p.main__position Frontend developer student
    p.main__personal-info 21 years old, Vinnitsya
    img( class="main__picture" src="https://scontent.flwo6-1.fna.fbcdn.net/v/t1.6435-9/41572275_123164681971000_8172537786000211968_n.jpg?_nc_cat=111&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=8mFp5C-Poh4AX_dWnum&_nc_ht=scontent.flwo6-1.fna&oh=1e516279ca38361f7fe7e9bb8b385eaf&oe=613A0203", alt="Profile picture")