@import url('./normalize.scss');
@import url('./__variables.scss');
@import url('../components/header/header.scss');
@import url('../components/myself/myself.scss');
@import url('../components/skills/skills.scss');
@import url('../components/footer/footer.scss');

.wrapper {
    padding: 50px 25px;
}

@media screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
} 