h1.skills__title Skills
div(class="skills" id="skills")
    .lds-spinner
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div

