header.header 
    nav.nav
        div(class='icon nav-icon-1')
            span 
            span 
            span 
            span 
            span 
            span 
            span 
            span 
            span 
        ul(class="menu hidden") 
            li.menu__item
                a(href="../index.html").menu__link  Home
            li.menu__item
                a(href="#about").menu__link About me
            li.menu__item
                a(href="#skills").menu__link Skills
            li.menu__item
                a(href="pages/index2.html").menu__link Hobbies
            li.menu__item
                a(href="#contacts").menu__link Contacts