.hobbies 
    div.hobby
        h1.hobby_title Studying
        p.hobby_description I like to learn new things. When I study I feel inspired. 
    div.hobby
        h1.hobby_title Running
        p.hobby_description For me, running is a time when I can be distracted from everyday affairs and relax. When I run, I feel free.
    div.hobby
        h1.hobby_title Traveling
        p.hobby_description Travel is always an unforgettable experience, new knowledge. When I travel, I try to follow people's behavior, enjoy the new atmosphere, architecture.